<h1>Edit article</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>

<% if false %>
Now, let's update the app/views/articles/edit.html.erb view to use this new partial, rewriting it completely.
<% end %>