<h1>Editing article</h1>
 
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path %>

<% if false %>
The method: :patch option tells Rails that we want this form to be 
submitted via the PATCH HTTP method which is the HTTP method you're expected to 
use to update resources according to the REST protocol.
The first parameter of form_for can be an object, say, @article which would cause
the helper to fill in the form with the fields of the object. Passing in a symbol (:article) 
with the same name as the instance variable (@article) also automagically leads to the same behavior.
<%end%>