<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
<h1>Listing articles</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
	  <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= form_for :article, url: articles_path do |f| %>
  ...
<% end %>
 
<%= link_to 'Back', articles_path %>

<% if false %>
The :method and :'data-confirm' options are used as HTML5 attributes so that when the link is clicked, 
Rails will first show a confirm dialog to the user, and then submit the link with method delete. 
This is done via the JavaScript file jquery_ujs which is automatically included into your application's layout 
(app/views/layouts/application.html.erb) when you generated the application. 
Without this file, the confirmation dialog box wouldn't appear.
In general, Rails encourages using resources objects instead of declaring routes manually!!!!!!!!!!!!!!!! 
<% end %>