<h1>New Article</h1>

<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>

<% if false %>
Now, let's update the app/views/articles/new.html.erb view to use this new partial, rewriting it completely.
<% end %>