<h1>New Article</h1>

<% if false %>
STEP 1: To create a form within this template, you will use a form builder. 
The primary form builder for Rails is provided by a helper method called form_for.
This creates a completely simple form!!!!!!!
<% end %>

<%= form_for :article, url: articles_path do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
 <% if false %>
 ABOVE: We check if there are any errors with @article.errors.any?, 
 and in that case we show a list of all errors with @article.errors.full_messages.
 pluralize is a rails helper that takes a number and a string as its arguments. 
 If the number is greater than one, the string will be automatically pluralized.
 Rails automatically wraps fields that contain an error with a div with class field_with_errors. 
 You can define a css rule to make them standout.
 <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path %>